<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>About Us</title>

    <style>
        body {
            min-height: 100vh;
            min-width: 320px;
            background-image: url("aboutUs-image.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .cover-container {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.9;
            color: black;

        }

        #about-us {
            color: white;
        }
    </style>
</head>

<body class="d-flex align-items-center h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100  p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Smart Parking on private parking lots</h1>
            <p class="lead">Parking Garage improves the overall parking experience and satisfaction of customers by providing accurate occupancy information from the parking lot.
            </p>
            <p>
                <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Learn More.
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body lead">
                    The main purpose of this system is to provide a solution to the parking problem, to reduce the time to search for parking space.nParking Garage provides real-time information regarding the occupation and availability of parking space. See real-time data and know available and occupied spaces. This also allows customers to reduce search time and decrease traffic congestion. With this, the customer saves time in allocating new parking space to drivers manually in parking spaces.
                    <p><br>All a customer needs is to arrive, get a good parking space, and leave without the hassle of congestion.</p>  
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>